.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    border: none;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}