.header {
    background: #89CFE9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.button-header {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-exit {
    background-color: #D32222;

}

.button-publish {
    background-color: #2231D3;

}