.layout-misto {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid #ccc;
  background-color: #D9D9D9;
}
.superior {
  display: flex;
  width: 100%;
  gap: 10px;
}
.coluna1 {
  flex: 1;
  border: 2px solid #ccc;
  display: flex;
  background-color: white;
}
.coluna2 {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.linha {
  border: 2px solid #ccc;
  display: flex;
  background-color: white;
}
.layout-coluna {
  display: flex;
  border: 2px solid #ccc;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
}

.coluna3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-height: 714px;
  min-height: 714px;
  justify-content: center;
  border: 2px solid #ccc;
  width: 100%;
  height: 714px;
  background-color: white;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-height: 350px;
  min-height: 350px;
  justify-content: center;
  border: 2px solid #ccc;
  width: 100%;
  height: 350px;
  background-color: white;
}

.layout-horizontal {
  display: flex;
  border: 2px solid #ccc;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
}

.layout-misto .superior {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.layout-misto .coluna {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.layout-misto-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
  height: auto;
  min-height: 700px;
  background-color: #D9D9D9;
}

.text-editor-container {
  margin-top: 75px;
  margin-left: 70px;
  margin-right: 70px;
}