#Header {
    background: #89CFE9;
    font-family: 'Inclusive Sans', 'Comfortaa', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}



.button-header {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-exit {
    background-color: #D32222;

}

.button-publish {
    background-color: #2231D3;

}